[package]
authors = ["Drago»ô Tiselice <dragostiselice@gmail.com>"]
edition = "2021"
name = "pest-site"
version = "0.1.0"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
pest = "2.5"
pest_fmt = "0"
pest_meta = "2.5"
pest_vm = "2.5"
serde-wasm-bindgen = "0.4"
wasm-bindgen = "0.2"

[dependencies.web-sys]
features = [
  "Window",
  "Document",
  "Text",
  "DomTokenList",
  "HtmlOptionElement",
  "HtmlSelectElement",
  "HtmlTextAreaElement",
  "HtmlCollection",
  "InputEvent",
]
version = "0.3"
